DATABASE_URL=postgresql://user:password@ep-example.eu-central-1.aws.neon.tech/database?sslmode=require
ADMIN_EMAIL=admin@exemple.sn
ADMIN_PASSWORD=changez-ce-mot-de-passe
ADMIN_SESSION_SECRET=changez-cette-cle-secrete
